.advantages__image{
  width: 100%;
  padding-bottom: calc(310 / 375 * 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px){
  .advantages__image{
    margin-top: 20px;
    padding-bottom: calc(550 / 895 * 100%);
  }
}

@media (min-width: 1024px){
  .advantages__image{
    margin-top: 0;
    padding-bottom: calc(560 / 1280 * 100%);
    width: 50%;
  }
}