.header__menu{
  margin: 120px 25px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px){
  .header__menu{
    margin-top: 90px;
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (min-width: 1024px){
  .header__menu{
    margin: 0;
    padding-right: 60px;
    flex-direction: row;
  }
}