.devices__list{
  margin: 17px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}

@media (min-width: 768px){  
  .devices__list{
    margin-top: 30px;
    flex-direction: row;
  }
}