.surface-slider__control{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}