.footer{
  padding: 22px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px){
  .footer{
    padding-top: 45px;
    padding-bottom: 70px;
  }
}