@media (min-width: 1281px){



  .setting {
    background-size: 1170px;
    padding-bottom: 95px;
  }

  .programs{
    margin-top: 710px;
  }

  .advantages{
    padding-top: 100px;
    padding-bottom: 95px;
  }
}