@media (min-width: 1281px){
  .devices{
    padding-bottom: calc(583 / 1280 * 100%);
  }


  .setting {
    background-size: 1170px;
    padding-bottom: 95px;
  }

  .programs{
    margin-top: 710px;
  }

  .advantages{
    padding-top: 100px;
    padding-bottom: 95px;
  }
}