.header{
  padding-top: 25px;
  padding-bottom: 210px;
  display: none;
  position: relative;
}

.header_visible{
  display: block;
}

.header__button-close{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 22px;
  right: 25px;
  width: 25px;
  height: 25px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../images/icon-close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header__menu{
  margin: 120px 25px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header__item{
  margin: 30px auto 0;
}

.header__link{
  margin: 0 auto;
  padding: 0 0 5px;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #c4c4c4;
}

.header__link:hover{
  color: #fff;
  border-bottom: 2px solid #fff;
}

.header__link-mobile{
  margin: 0;
  padding: 0;
}

.header__link-desctop{
  display: none;
}

.intro{
  padding-top: 25px;
  padding-bottom: 48px;
  position: relative;
}

.intro__button-menu{
  width: 30px;
  height: 16px;
  position: absolute;
  top: 25px;
  right: 28px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../images/icon-menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__image{
  margin-top: 22px;
  margin-bottom: 67px;
  padding-bottom: calc(190 / 375 * 100%);
  background-image: url("../images/intro.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.intro__arrow{
  margin: 20px auto 0;
  padding: 0;
  display: block;
  width: 40px;
  height: 20px;
  background-image: url("../images/icon-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bluetooth{
  padding-top: 30px;
  padding-bottom: 20px;
  background-image: url("../images/icon-bluetooth.svg");
  background-size: 18px 34px;
  background-position: center 40px;
  background-repeat: no-repeat;
}

.bluetooth__days{
  margin: 10px auto 0;
  padding: 0 0 calc(220 / 375 * 100%);
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #c4c4c4;
  background-image: url("../images/bluetooth.png");
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.surface{
  padding-bottom: 40px;
}

.surface-info{
  margin: 10px auto 25px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.surface-info__item{
  margin: 0;
  padding: 5px;
  max-width: 155px;
  min-height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  border: 1px solid #2f3132;
}

.surface-info__title{
  margin: 0;
  padding: 0 0 5px;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

.surface-info__text{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.surface-slider__list{
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.surface-slider__image{
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: calc(240 / 375 * 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.surface-slider__image_t_wood{
  background-image: url("../images/surface-mobile-wood.jpg");
}

.surface-slider__image_t_glass{
  background-image: url("../images/surface-mobile-glass.png");
}

.surface-slider__image_t_linoleum{
  background-image: url("../images/surface-mobile-linoleum.png");
}

.surface-slider__image_t_cloth{
  background-image: url("../images/surface-mobile-cloth.png");
}

.surface-slider__image_t_marble{
  background-image: url("../images/surface-mobile-marble.png");
}

.surface-slider__title{
  margin: 27px auto 20px;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.surface-slider__buttons{
  margin: 0 auto 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.surface-slider__indicators{
  margin: 0 23px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 23px;
}

.surface-slider__control{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.surface-slider__control_cl_switch{
  width: 9px;
  height: 18px;
  border-radius: 0;
}

.surface-slider__control_cl_indicator{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.surface-slider__button{
  margin: 0;
  padding: 0;
  height: 30px;
}

.surface-slider__control_t_prev{
 background-image: url("../images/icon-prev.svg");
}

.surface-slider__control_t_wood{
  background-image: url("../images/texture-wood.png");
}

.surface-slider__control_t_glass{
  background-image: url("../images/texture-glass.png");
}

.surface-slider__control_t_linoleum{
  background-image: url("../images/texture-linoleum.png");
}

.surface-slider__control_t_cloth{
  background-image: url("../images/texture-cloth.png");
}

.surface-slider__control_t_marble{
  background-image: url("../images/texture-marble.png");
}

.surface-slider__control_t_next{
  background-image: url("../images/icon-next.svg");
 }

.devices{
  padding-bottom: calc(218 / 375 * 100%);
  background-image: url("../images/devices-mobile.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.devices__list{
  margin: 17px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}

.devices__item{
  margin: 0;
  padding: 0;
}

.devices__item-text{
  margin: 0 55px 0;
  padding: 0;
  max-width: 220px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.setting-slider__list{
  margin: 15px auto 20px;
  padding: 0;
  overflow: hidden;
}

.setting-slider__image{
  margin: 0 auto;
  padding: 0;
  width: calc(100%- 22px * 2);
  max-width: 500px;
  padding-bottom: calc(405 / 375 * 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.setting-slider__image_t_mouse{
  background-image: url("../images/setting-mouse.png");
}

.setting-slider__image_t_button-switch{
  background-image: url("../images/setting-button-switch.png");
}

.setting-slider__image_t_button-sign{
  background-image: url("../images/setting-button-sign.png");
}

.setting-slider__image_t_up-down{
  background-image: url("../images/setting-up-down.png");
}

.setting-slider__image_t_wheel-magspeed{
  background-image: url("../images/setting-wheel-magspeed.png");
}

.setting-slider__image_t_thumb-wheel{
  background-image: url("../images/setting-thumb-wheel.png");
}

.setting-slider__indicators{
  margin: 0 auto 60px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.setting-slider__button{
  height: 15px;
}

.setting-slider__control{
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  outline: 0;
  border: 0;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.setting-slider__control.active{
  background-color: #2f3132;
}

.programs{
  margin: 0 auto;
  padding: 20px 10px 25px;
  background-color: #c4c4c4;
}

.programs__list{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.programs__icon{
  margin: 0 auto 20px;
  padding: 0;
  height: 22px;
}

.programs__text{
  margin: 0 auto;
  padding: 0;
  max-width: 300px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #fff;
}

.advantages__image{
  width: 100%;
  padding-bottom: calc(310 / 375 * 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__image_pl_comfort{
  background-image: url("../images/ad-comfort-mobile.jpg");
}

.advantages__image_pl_quick{
  background-image: url("../images/ad-quick-mobile.jpg");
}

.footer{
  padding: 22px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__text{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 8px;
  color: #c7c8c8;
}


