@media (min-width: 768px){

  .header{
    padding-top: 65px;
    padding-bottom: 140px;
  }

  .header__button-close{
    top: 60px;
    right: 85px;
    width: 50px;
    height: 50px;
  }

  .header__menu{
    margin-top: 90px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .header__item{
    margin: 30px;
  }
  
  .header__link{
    font-size: 40px;
    line-height: 47px;
  }

  .intro{
    padding-top: 55px;
    padding-bottom: 80px;
  }

  .intro__button-menu{
    width: 60px;
    height: 40px;
    top: 50px;
    right: 60px;
  }

  .intro__image{
    margin-top: 92px;
    margin-bottom: 110px;
  }

  .intro__arrow{
    width: 60px;
    height: 35px;
    margin-top: 40px;
  }

  .bluetooth{
    padding-top: 80px;
    padding-bottom: 0px;
    background-size: 22px 40px;
    background-position: center 80px;
  }

  .bluetooth__days{
    margin-top: 50px;
    padding-bottom: calc(420 / 895 * 100%);
    font-size: 150px;
    line-height: 176px;
    background-size: calc(100% - 60px);
  }

  .surface{
    padding-bottom: 30px;
  }

  .surface-info{
    margin-top: 20px; 
    margin-bottom: 45px;
    gap: 30px;
  }

  .surface-info__item{
    padding: 0; 
    max-width: 300px;
    min-height: 170px;
  }

  .surface-info__title{
    font-size: 40px;
    line-height: 47px;
  }

  .surface-info__text{
    font-size: 24px;
    line-height: 28px;
  }

  .surface-slider__title{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
  }

  .surface-slider__buttons{
    margin-bottom: 20px;
  }

  .surface-slider__indicators{
    margin-left: 30px;
    margin-right: 30px;
    gap: 30px;
  }

  .surface-slider__control_cl_switch{
    width: 15px;
    height: 30px;
  }
  
  .surface-slider__control_cl_indicator{
    width: 40px;
    height: 40px;
  }

  .surface-slider__button{
    height: 40px;
  }

  .devices{
    padding-bottom: calc(208 / 375 * 100%);
    background-image: url("../images/devices-target.png");
  }
  
  .devices__list{
    margin-top: 30px;
    flex-direction: row;
  }
  
  .devices__item{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    border-right: 1px solid #494949;
  }

  .devices__item:last-child{
    padding-right: 0;
    border-right: 0;
  }
  
  .devices__item-text{
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
    line-height: 23px;
  }

  .devices__item-text:not(.devices__item-text_small){
    min-width: 290px;
  }

  .devices__item-text_small{
    max-width: 135px;
  }

  .setting{
    padding-bottom: 70px;
  }

  .setting-slider__list{
    margin-top: 20px;
    margin-bottom: 55px;
  }

  .setting-slider__image{
    padding-bottom: 610px;
  }

  .setting-slider__indicators{
    margin-bottom: 70px;
    gap: 25px;
  }
  
  .setting-slider__button{
    height: 25px;
  }
  
  .setting-slider__control{
    width: 25px;
    height: 25px;
  }

  .programs{
    padding-top: 40px;
    padding-left: 70px;
    padding-bottom: 30px;
    padding-right: 70px;
    max-width: 765px;
    box-sizing: border-box;
  }

  .programs__list{
    gap: 35px;
  }
  
  .programs__icon{
    height: 35px; 
  }
  
  .programs__text{
    max-width: 100%;
    font-size: 20px;
    line-height: 23px;
  }

  .advantages__image{
    margin-top: 20px;
    padding-bottom: calc(550 / 895 * 100%);
  }
  
  .advantages__image_pl_comfort{
    background-image: url("../images/ad-comfort-tablet.jpg");
  }
  
  .advantages__image_pl_quick{
    background-image: url("../images/ad-quick-tablet.jpg");
  }

  .footer{
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .footer__text{
    font-size: 14px;
    line-height: 16px;
  }
}