@media (min-width: 768px){

  .advantages__image{
    margin-top: 20px;
    padding-bottom: calc(550 / 895 * 100%);
  }
  
  .advantages__image_pl_comfort{
    background-image: url("../images/ad-comfort-tablet.jpg");
  }
  
  .advantages__image_pl_quick{
    background-image: url("../images/ad-quick-tablet.jpg");
  }

  .footer{
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .footer__text{
    font-size: 14px;
    line-height: 16px;
  }
}