@media (min-width: 1024px){


  .setting{
    /* padding-bottom: calc(700 / 1280 * 100%); */
    background-image: url("../images/settings.png");
    background-size: calc(1170 / 1280 * 100%);
    background-position: center;
    background-repeat: no-repeat;
  }

  .setting-slider{
    display: none;
  }

  .programs{
    margin-top: calc(685 / 1280 * 100%);
  }

  .advantages__article{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .advantages__article.comfort{
    flex-direction: row-reverse;
  }

  .advantages__image{
    margin-top: 0;
    padding-bottom: calc(560 / 1280 * 100%);
    width: 50%;
  }

  .advantages__image_pl_comfort{
    background-image: url("../images/ad-comfort-desktop.png");
  }

  .advantages__image_pl_quick{
    background-image: url("../images/ad-quick-descktop.png");
  }

  .advantages__text{
    width: 50%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .advantages__text .page__section-title{
    margin: 0 0 30px;
    padding: 0;
  }

  .advantages__text .page__text{
    margin: 0;
    padding: 0;
  }

  .comfort .advantages__text{
    justify-content: flex-start;
    padding-left: 35px;
    padding-right: 200px;
  }

  .comfort .advantages__text .page__section-title{
    text-align: left;
  }

  .comfort .advantages__text .page__text{
    text-align: left;
  }

  .quick .advantages__text{
    justify-content: flex-end;
    padding-left: 250px;
    padding-right: 35px;
  }

  .quick .advantages__text .page__section-title{
    text-align: right;
  }

  .quick .advantages__text .page__text{
    text-align: right;
  }

}